@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row g-5 py-5 row-cols-1 row-cols-lg-2">
        <div class="col">
            <h1 class="font-weight-bold lh-1 mb-3">MVC Taco Cat</h1>
            <h4 class="lead">
                Reverse an inputted string and check whether it is the same when reversed, AKA a Palindrome!*
            </h4>
            <h6 class="pt-2">* Palindrome - a word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run. </h6>
            <ul class="fa-ul pt-2 checklist">
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>Bootstrap Layout</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>CSS Styling</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C Sharp Fundamentals</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C Sharp Loops</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C Sharp Functions</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C Sharp IF/Then/Else</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C Sharp Boolean Logic</li>
            </ul>
        </div>
        <div class="col d-flex align-content-center">
            <img src="/img/TacoCatTransparent.png" class="img-fluid center-block d-block mx-auto" alt="App Logo" width="700" height="500">
        </div>
    </div>
</div>
